{% extends 'base.html.twig' %}

{% block title %}Connexion au refuge du Languedoc{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
    
    <div class="d-flex justify-content-center">
    
        <div class="row col-lg-6 mb-4 p-3 border shadow bg-white slightlyOpaque rounded"  style="margin-top: 25%">
            <h1 class=" m-*-auto">Connexion</h1>

            <form method="POST">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="inputEmail">Email</label>
                        <input style="display:flex;" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="d-flex justify-content-center col-lg-12 mt-3">
                        <button class="btn btn-primary shadow center-block" name="submitButton" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
            </form>
            <a href="/">Retour</a>
        </div>
    </div>
</div>
{% endblock %}
