<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des animaux à l'adoption</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">


        <script src="https://kit.fontawesome.com/6576995845.js" crossorigin="anonymous"></script>

        {% include "partials/member_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5  text-white">Animaux à l'adoption</h1>
       <div class="container border shadow mt-5 mb-2 bg-white slightlyOpaque">
            <div class="row">
                {% if animals|length > 0 %}
                    {% for animal in animals %}
                        <div class="col-sm-4 mt-2 mb-2">
                            <div class="card" >
                                <!-- Card image -->
                                {% if animal.imageLinks|length > 0 %}
                                    <img class="card-img-top shadow"  style="display:block; max-height:100%; max-width:100%; width:auto; height:auto;"  src="{{asset(animal.imageLinks[0])}}" alt="Card image cap">
                                {% else %}
                                     <img class="card-img-top" src="http://via.placeholder.com/300x400" alt="Card image cap">
                                {% endif %}
                                <!-- Card content -->
                                <div class="card-body">
                                    <!-- Title -->
                                    <h4 class="card-title text-center"><a>{{animal.name}}</a></h4>
                                    <!-- Text -->
                                    <p class="card-text"></p>
                                    <!-- Button -->
                                    <div class=" text-center">
                                    <button class="btn btn-primary shadow modalOpen" onClick="onClickModalOpen({{animal.id}})" data-toggle="modal" data-target="#moreInformations">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    {% endfor %}
                {% else %}
                    <p>Aucun animal à l'adoption pour le moment. Revenez plus tard !</p>
                {% endif %}
            </div>
        </div>
    </body>

    <div class="modal fade" id="moreInformations" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="contentInformations">
                
            </div>
        </div>
    </div>


    <div class="modal fade" id="submitAdoptionForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Envoyer une demande d'adoption</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</html>

<script>
    function onClickModalOpen(animalId){
        $('#contentInformations').html('');
        const url="{{ path('moreInformations') }}"; 
        axios.get(url+"?id="+animalId).then(function(response) {
            var d = jQuery.parseJSON(response.data);
            var modalContent = 
                    '<div class="modal-header">'+
                    '<h5 class="modal-title" id="exampleModalLongTitle">Plus d\'informations à propos de '+d.name+' </h5>'+
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span>'+
                    '</button>'+
                '</div>'+
                '<div class="modal-body">'+
                    d.description+
                '</div>';
            $('#contentInformations').append(modalContent);
        })
    } 
</script>