<html>
    <head>
        <meta charset="UTF-8">
        <title>Effectuer une donation</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/hover.css">
        <link rel="stylesheet" href="/css/admin.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/6576995845.js" crossorigin="anonymous"></script>

        {% include "partials/member_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5">Effectuer une donation</h1>
        
       <div class="container">
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {{ form_start(makeDonationForm) }}
                        <div class="col-sm-3"></div>

                        <div class="col-sm border bg-white shadow">
                            <label for="inputEmail" class="mt-2">Montant :</label>
                                {{ form_errors(makeDonationForm.amount) }}
                                {{ form_widget(makeDonationForm.amount) }}
                            <br>
                            <div class="d-flex justify-content-center col-lg-12 mt-1">
                                <button class="btn btn-success shadow center-block mb-2" type="submit">
                                    Donner !
                                </button>
                            </div>
                        </div>
                            <div class="col-sm-3"></div>
                        </div>
                    {{ form_end(makeDonationForm) }}
                </div>
            </div>
        </div>
    </body>

</html>