.navColor {
    background-color:#4dc1c1;
}

body {
    background-image: url("/img/index_bg.jpg");
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.navbar a {
    color:#222222;
}