{% if is_granted('ROLE_ADMIN') %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nouvelles familles d'accueil</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/hover.css">
        <link rel="stylesheet" href="/css/admin.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/6576995845.js" crossorigin="anonymous"></script>

        {% include "partials/admin_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5">Offres de familles d'accueil</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
            </div>
        </div>
    </body>
</html>
{% endif %}